*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#firstPage {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: rgb(105, 93, 93);
}

/* ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */

.custom-shape-divider-bottom-1648559997 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648559997 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648559997 .shape-fill {
    fill: #B37474;
}

/* ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */

#navBar {
    height: 10vh;
    width: 100vw;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#navMenu a{
    font-size: x-large;
}

#introBox {
    background: rebeccapurple;
    height: 50vh;
    width: 75vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
